extends ../layout

block content
  div(id="page-contents")
    .container
      .row
        .col-md-3.static
          .card.panel.panel-default.ks-solid.ks-widget.ks-widget-info
            .ks-user1
              p &nbsp;
            .ks-user
              img.ks-avatar1(src="http://via.placeholder.com/80x77" width="100" height="100")
              .ks-info
                .ks-name= user.profile.firstName + " " + user.profile.lastName
                .ks-description= user.company.name
            .card-block1
              .ks-item
                span.fig= user.notifications.length
                span.title Notifications
          div
            p &nbsp;
          .card.panel.panel-default.ks-solid.ks-widget.ks-widget-users
            .row
              each team, index in user.teams
                .col-xs-6
                  h5.card-header1 Team #{index + 1 }
                  .card-block
                    each member in team.members
                      .ks-user
                        img.ks-avatar(src="http://via.placeholder.com/110x110" width="45" height="45")
                    else
                      .container= team.members
        .col-md-6
          h4 Activity
          each activity in activities
            .ks-social-profile
              .ks-social-profile-body
                .ks-feed
                  .card.panel.panel-default.ks-post
                    .ks-header
                      a.ks-user(href="#")
                        img.ks-avatar(src="http://via.placeholder.com/110x110" width="36" height="36")
                        span.ks-name= activity.project.name
                      span.ks-date-created= activity.dueAt
                    .ks-body
                      .ks-text= activity.content
                    .ks-footer
                      .ks-block
                        span.ks-control(data-toggle="tooltip" data-placement="top" title="Comment")
                          span.fa.fa-comment-o.ks-icon
                          span.ks-amount   #{activity.users.length}
                      .ks-block
                        span.ks-control(data-toggle="tooltip" data-placement="top" title="Share")
                          span.fa.fa-share.ks-icon
                        span.ks-control(data-toggle="tooltip" data-placement="top" title="Like")
                          span.fa.fa-tags.ks-icon       
          h4 Articles
          each article in articles 
            .post-content
              .post-container
                img.profile-photo-md.pull-left(src="http://placehold.it/300x300" alt="user")
                .post-detail
                  .user-info
                    h5
                      a.profile-link(href="#")= article.title
                    p.text-muted by #{article.author}
                  .line-divider
                  .post-text
                    p= article.content
        .col-md-3.static
          h4 Open Positions
          .siderightbar(id="sticky-sidebar")
            .form-group
              i.icon.ion-android-search
              input.form-control(type="text" placeholder="Search")
            .suggestions
              each vacancy in vacancies
                .follow-user
                  img.profile-photo-sm.pull-left(src="http://via.placeholder.com/128x128" alt="some")
                  div
                    h5
                      a(href="#")= vacancy.name 
                      |  at 
                      a(href="#")= vacancy.company.name
                    h5 Location: #{vacancy.location}